BasedOnStyle: Google
IndentWidth: 2
AccessModifierOffset: -1
BreakBeforeBraces: Attach
ColumnLimit: 80
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
  
