CompileFlags:
  Add: [
    "-I./**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/variants/MINIMA/includes/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/libraries/Arduino_FreeRTOS/src/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/libraries/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/libraries/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/cores/arduino/api/tinyusb/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/cores/arduino/api/deprecated/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/cores/arduino/api/deprecated-avr-comp/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/cores/arduino/api/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/cores/arduino/**",
    "-I./Arduino/packages/arduino/tools/arm-none-eabi-gcc/7-2017q4/arm-none-eabi/include/**",
    "-I./Arduino/packages/arduino/tools/arm-none-eabi-gcc/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/libraries/Arduino_CAN/src/**",
    "-I./Arduino/packages/arduino/hardware/renesas_uno/1.2.0/variants/MINIMA/**",
    "-I./Arduino/**",
  ]
